/* Main Page*/

/* Work On
-Getting the tabel equal heights and central
-hover colour not on all header elements
*/

* {margin: 0 auto; padding: 0;}

h1 {
  background: linear-gradient(bottom, rgba(0,36,0,0.2), rgba(7,61,0,0.7));
  background: -webkit-linear-gradient(bottom, rgba(0,36,0,0.2), rgba(7,61,0,.7));
  background: -moz-linear-gradient(bottom, rgba(0,36,0,0.2), rgba(7,61,0,.7));
  color: rgba(61,142,34),1);
  /*background-color: Yellow;*/
  padding: 0 auto;
  text-align: center;
}

h3 ul {
  text-align: center;
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

div {
  color: rgba(255,255,1,1);
  background-color: black;
}

div:hover {
  color: green;
}

/* photobanner */

.container {
  max-width: 1000px;
  /*overflow: hidden;*/
  /*padding: auto;*/
  margin: auto;
  position: relative;
  background: white;
}

.photob {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*
.photob {
  max-width:auto;
  height: auto;
}
.photobanner {
  height: 233px;
  width: 355px;
  margin-bottom: 80px;
}

/*keyframe animations*/
/*
.first {
 -webkit-animation: bannermove 10s linear infinite;
    -moz-animation: bannermove 10s linear infinite;
     -ms-animation: bannermove 10s linear infinite;
      -o-animation: bannermove 10s linear infinite;
         animation: bannermove 10s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}

.photobanner {
    height: 233px;
    width: 3550px;
    margin-bottom: 80px;
}

.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */

.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

table {
  align-content: space-around;
  margin: 50px auto;
}

table h3 {
    text-align: center;
}

td#our-zoo {
  padding: 0px 50px 50px 50px;
  margin: 50px 50px 50px 50px;
  align-items: center;
}

td#newsbar {
  padding: 50px 50px 50px 50px;
  margin: 50px;
  align-items: center;
}
